/* =========================================
   BOTÓN INICIAR SESIÓN
   ========================================= */

.boton {
    width: 137px;
    height: 21px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #6e2458;
    border-radius: 7px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;

    cursor: pointer;

    transition: background-color 0.2s ease,
        transform 0.1s ease;
}


/* Botón principal */

.boton--principal {
    background-color: #E62E7F;
    color: white;
}


/* Al pasar el mouse */

.boton--principal:hover {
    background-color: #342C83;
    color: #FE9CF6;
}


/* Al hacer click */

.boton--principal:active {
    transform: scale(0.98);
}


/* boton jugar en home */

/* Importamos una tipografía pixel/retro (opcional pero recomendada) */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.boton--jugar {
    font-family: 'Press Start 2P', 'Arial Black', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;

    padding: 0.7rem 0.9rem;
    display: fit-content;
    align-items: center;
    justify-content: center;

    background-color: #a6817a;

    border-radius: 12px;

    border: 4px solid #5a3d38;
    outline: 2px solid #b83328;
    outline-offset: -6px;

    transition: all 0.2s ease;
    cursor: pointer;
}

/* Estado :hover (Tercera foto) */
.boton--jugar:hover {
    background-color: #bfa19a;

    border-color: #b83328;

    outline: none;

    transform: translateY(-2px);
}